.wrapp-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2rem;

}
.title {
  width: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.wrapp-clientes {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 0.75rem;
}